* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #232946;
  font-family: "Poppins", sans-serif;
  color: #fffffe;
}

a {
  text-decoration: none;
  color: #fffffe;
}
li {
  list-style-type: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile--picture {
  border-radius: 50%;
  width: 30%;
  height: 30%;
}
@media (min-width: 570px) {
  .resume--header,
  .resume--main--container {
    display: flex;
  }

  .project--list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
  }
}

nav a {
  text-decoration: none;
  margin: 1em 0;
}
.resume--techstack {
  display: flex;
}
.project--list--container {
  padding-inline: 23px;
}

.project--list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.project--hovered {
  padding: 5em;
}

.project--tile > img {
  max-width: 100%;
  border-radius: 5px;
}

.navbar--container > a {
  margin: 0 1em;
}

.project--tile {
  position: relative;
  width: 100%;
}

.project--img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project--text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project--tile:hover .project--img {
  opacity: 0.3;
}

.project--tile:hover .project--text {
  opacity: 1;
}

.project--text {
  display: block;
  width: 50%;
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
}
