* {
  box-sizing: border-box;
}

/* :root {
  --primary-bg-color: #f2f7f5;
  --secondary-bg-color: #faae2b;
  --tertiary-bg-color: #ffa8ba;
  --primary-text-color: #00473e;
  --secondary-text-color: #7e8f83;
  --highlighted-text-color: #d37090;
  --tertiary--text-color: #fa5246;
  --hover: #475d5b;
} */
:root {
  --primary-bg-color: #10080d;
  --secondary-bg-color: #3d3456;
  --tertiary-bg-color: #d8c9de;
  --primary-text-color: #fcfdff;
  --secondary-text-color: #3d3456;
  --highlighted-text-color: #d8c9de;
  --tertiary--text-color: #d8c9de;
  --hover: #e8eb50;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--primary-bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  /* max-width: 2000px; */
  height: 100vh;
}

/*********** L A Y O U T  **************/
nav {
  display: flex;
  margin: 1em 1em 0.5em 1em;
}
li {
  list-style-type: none;
}

footer {
  /* background-color: var(--highlighted-text-color); */
  padding: 1em 0;
  text-align: left;

  /* color: var(--primary-bg-color); */
  color: var(--tertiary-bg-color);
  border-top: var(--tertiary-bg-color) 1px solid;
  font-size: 0.8em;
  /* position: fixed;
  bottom: 0;
  left: 0; */
  /* width: 90vw; */
  margin: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer > .social--icons {
  color: var(--tertiary-bg-color);
}
.resume--container,
.home--container {
  padding: 1em;
}
.featured {
  font-size: 1.1rem;
  text-align: center;
}
.home--container {
  border: none;
  margin: 0;
  /* background-image: url("/images/Leaf.png");

  background-repeat: none;
  background-size: cover; */

  opacity: 90%;
}

.techstack--list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 0.5em;
}
ul {
  padding-left: 0;
}
li {
  display: inline-block;
  padding: 0.5em 1em;
}
.loading {
  text-align: center;
}
.contact {
  background-color: var(--tertiary-bg-color);

  margin-bottom: 2em;
  padding: 1em;
}
.contact--data {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1em;
}

.contact--data > p {
  color: var(--primary-bg-color);
  margin: 0 0 0 0.5em;
}

.social--icons {
  display: inline-block;
  /* margin-left: 1em; */
  color: var(--primary-bg-color);
  /* font-size: 1.2em; */
}

.social--icons:last-child {
  margin-left: 1em;
}
.social {
  display: flex;
  justify-content: left;
}
.social > a {
  font-size: 1.5em;
}

.social--hover:hover {
  color: var(--primary-text-color);
}

.profile--picture {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
/***********  B U T T O N S & L I N K S  **************/

a {
  text-decoration: none;
  font-family: "Inria Sans", sans-serif;
  /* color: var(--primary-bg-color); */
  /* margin: 0 auto; */
  padding: 0;
  display: inline-block;
  transition: 0.3s;
  /* width: 100px; */
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--primary-bg-color);
}

.navbar--container > a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
  font-family: "Nunito", sans-serif;
  margin-right: 0.8em;
  color: var(--primary-text-color);
}

.button--link,
.button,
.home--button--link {
  font-weight: 500;
  padding: 0.5em 0.8em;
  border: none;
  border-radius: 9px;
  align-self: center;
  font-size: 1em;
  transition: 0.3s;
  margin-right: 0.5em;
}
.button--link,
.button {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

.home--button--link {
  background-color: var(--hover);
  color: var(--primary-bg-color);
}

.home--button--link:hover {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

.linkbutton {
  padding: 0.5em 0.8em;
  /* background-color: var(--hover);
  background-color: var(--tertiary-bg-color); */
  background-color: transparent;
  /* background-color: var(--highlighted-text-color); */
  color: var(--primary-bg-color);
  border-radius: 8px;
  /* border: 2px solid var(--secondary-bg-color); */
  border: none;
  color: var(--secondary-text-color);
  margin-right: 0.5em;
}
.background--link {
  background-color: var(--highlighted-text-color);
}
.background--link:hover .background--link a:hover {
  background-color: #e8eb50;
  animation: fadeIn 0.7s ease-in-out;
}

.linkbutton a {
  font-size: 1rem;
}
.linkbutton:hover {
  border: none;
}

.button--link,
.home--button--link {
  margin-right: 1em;
}
.button--link > a {
  margin-right: 0;
  margin-top: 0;
  /* padding: 0.5em 0.8em; */
  font-weight: 500;
  color: var(--primary-text-color);
  font-size: 1rem;
}

.back--link {
  color: var(--secondary-bg-color);
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 0.2rem;
  width: 100px;
}

.back--link:last-child {
  margin-bottom: 1em;
}

.back--link:hover {
  /* background-color: var(--hover); */
  background-color: var(--highlighted-text-color);
  border-radius: 8px;
  padding: 0.3em 0.8em;
}

.back--icon {
  margin-right: 0.3em;
  align-self: center;
}
.go--back--btn {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.button--link > a:hover {
  color: var(--primary-bg-color);
  font-weight: 600;
}
/* .resume--footer > button:hover {
  color: red;
} */
/*********** P R O J E C T S  **************/

.project--list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.8em;
}

.project--detail--container {
  padding: 1.2em;
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
  /* height: 95vh; */
  height: 100%;
  margin-bottom: 2em;
}

.project--detail--container li {
  border-radius: 8px;
  font-size: 0.8rem;
}
.project--detail--container li:first-child {
  margin-left: 0;
}
h2 {
  font-weight: 400;
}

p {
  font-size: 1em;
}

.project--detail--img {
  max-width: 100%;
  cursor: pointer;

  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.project--list--container > h1 {
  font-weight: 500;
  text-transform: uppercase;
  /* color: var(--primary-bg-color); */
  color: var(--primary-text-color);
}
.project--list--container {
  padding-inline: 23px;
}

.project--hovered {
  padding: 5em;
}

.project--img {
  max-width: 100%;
  border-radius: 5px;
}

.react {
  background-color: #f7cdbf;
}
.fixed-width {
  background-color: #f8edfc;
}
.javascript {
  background-color: darkgray;
  color: var(--primary-text-color);
}

.api {
  background-color: gray;
  color: var(--primary-bg-color);
}

.css {
  background-color: #5d70ab;
  color: var(--primary-text-color);
}
.sass {
  background-color: #de599e;
  color: #fcfdff;
}
.html5 {
  background-color: #8d80b3;
  color: var(--primary-text-color);
}
.responsive {
  background-color: #e7f0ed;
  color: #3d3456;
}
.project--tile {
  position: relative;
  width: 100%;
  /* background-color: #e7f0ed;
  padding: 1em; */
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 1em;
}

.project--img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project--info {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project--text {
  text-transform: uppercase;
}

.project--text > h3 {
  color: var(--secondary-bg-color);
  padding: 0.6em 1em;
}

.project--text > h5 {
  border-radius: 18px;
  background-color: var(--primary-bg-color);

  display: inline-block;
  padding: 0.6em 1em;
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project--tile:hover .project--img {
  opacity: 0.3;
}

.project--tile:hover .project--info {
  opacity: 1;
}

.project--info {
  display: block;
  width: 50%;
  /* background-color: var(--highlighted-text-color); */
  background-color: var(--hover);
  color: var(--primary-text-color);
  font-size: 16px;
  border-radius: 8px;
}

/*********** T Y P O G R A P H Y  **************/

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
}

.resume--about > h1 {
  font-family: "Poppins", sans-serif;
}

.project--list--container > h3 {
  font-family: "Inria Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: var(--primary-text-color);
}

.highlighted--text {
  color: var(--secondary-text-color);
  font-weight: 600;
}

.resume--about {
  margin: 0 1em;
}
.text--uppercase {
  text-transform: uppercase;
  font-size: 1.3em;
}

.project--list--container {
  background-color: var(--secondary-text-color);
  padding: 1em;
  margin: 1em;
  /* height: 90vh; */
  /* border-radius: 18px; */
}

.home--hero > h1 {
  color: var(--highlighted-text-color);
  font-family: "Poppins", sans-serif;
  font-size: 2em;
}
.home--hero {
  width: 100%;
  padding-bottom: 2em;
  /* background-color: #f2f7f5; */
  height: max-content;
  width: 100%;

  opacity: 0.9;
}

.resume--header {
  background-color: var(--tertiary-bg-color);
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  color: var(--primary-bg-color);
}
.resume--header > p {
  font-size: 2em;
}

.resume--main--container {
  margin-top: 2em;
}
.resume--footer > button {
  display: block;
  margin-top: 1em;
}
.home--container > .project--list--container {
  margin: 0;
}
/* button:hover,
button > a:hover, */
.button--link:hover,
button:active,
button > a:active,
.button--link:active {
  background-color: var(--hover);
  color: var(--primary-bg-color);
}

.techstack--list > li {
  padding-left: 0;
}

.project--detail--type > li {
  margin: 0.2em;
}
.link--icon {
  align-self: center;
  font-size: 1.5rem;
}
.detailed--header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.detailed--header--link {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 10%;
}

.detailed--header > h2 {
  margin-top: 0;
}
.big--github {
  font-size: 1.8rem;

  margin-bottom: 0;
  border: none;
  /* padding: 0.1em; */
  background-color: transparent;
}

.big--github a {
  display: flex;
  align-items: center;
}
footer > a {
  color: var(--tertiary-bg-color);
}
/* a .big--github:hover,
button .big--github:hover {

  color: var(--secondary-bg-color);
  font-size: rem;
} */

.big--github > a > p {
  padding-right: 0.5rem;
}
.big--github--icon {
  font-size: 1.2rem;
}
.resume--about > button:hover {
  border-radius: 8px;
  padding: 0 1rem;
  color: var(--highlighted-text-color);
  background-color: var(--hover);
  animation: fadeIn 0.3s ease-in-out;
}

.social a:hover {
  color: #5d70ab;
}
.linkbutton a:hover,
.linkbutton button:hover {
  color: var(--secondary-text-color);
}
/* .big--github--icon {
  font-size: 1.8rem;
  padding: 0 1rem;
  color: var(--secondary-text-color);
} */

.background--link:hover {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}
.navbar--container > a:hover {
  color: var(--highlighted-text-color);
}
.hovered--alt {
  color: #d8c9de;
  font-size: 0.8rem;
  margin: 0.2em auto 0;
  text-align: center;
}

/*********** @ M E D I A  **************/
@media (min-width: 760px) {
  html,
  body {
    margin: 0 auto;
  }
  .project--list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  nav {
    display: flex;
    flex-direction: row;

    justify-content: right;
    width: 90vw;
    margin: 1em auto;
  }
  footer > p,
  .contact--data > p {
    font-size: 0.9rem;
  }
  .resume--about > h1 {
    font-size: 1.8rem;
  }
  .profile--picture {
    width: 15em;
    height: 15em;
  }
  .project--list--container > h3 {
    font-size: 1.2em;
  }
  .project--detail--info > p {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .resume--header,
  .resume--main--container {
    display: flex;
    text-align: left;
    align-items: center;
  }
  p {
    font-size: 1.1rem;
  }

  .resume--footer {
    display: flex;
    align-items: center;
  }
  .resume--footer > button {
    margin-top: 0;
  }
  .project--detail {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    align-items: start;
    margin-bottom: 2em;
  }

  .project--detail--info {
    margin: 0 0 0 1.5em;
    font-size: 0.8em;
  }

  .project--detail--info > p {
    padding-top: 0;
  }

  .project--detail--img {
    max-width: 70%;
  }

  .contact {
    max-width: 100%;

    align-self: center;
    margin-bottom: 1em;
    margin-right: 1em;
  }
  .navbar--container > a {
    font-weight: 600;
    font-size: 1em;
  }

  /* 
  .home--container {
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: normal;
  } */
  .home--hero {
    /* padding: 1em; */
    grid-column: span 2;
    height: max-content;
    /* margin-left: 0.8em; */
    /* width: 90%; */
  }
  .home--hero > p {
    font-size: 1.2em;
  }

  .home--hero > h1 {
    font-size: 2.3em;
  }
  .project--list--featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
  }
  .home--container {
    display: grid;
    background-color: var(--primary-bg-color);
    grid-template-columns: 1fr 1fr 1fr; /* Two columns for wide screens */
    grid-gap: 20px;
    /* height: 90vh; */
    margin-bottom: 6rem;

    /* background-image: url("/images/floral.png");
    background-repeat: none;
    background-size: cover; */

    background-blend-mode: soft-light;
  }
  .project--list--container {
    grid-column: span 3;
    height: unset;
    margin: 0 auto 2em;
    /* margin: 1em;
    padding: 1em 2em; */
  }
  .link--icon {
    font-size: 1.8rem;
    color: var(--secondary-bg-color);
  }
  .detailed--header--link {
    width: 60vh;
    flex-direction: row;
  }
  .project--detail--container {
    max-height: 90vh;
    max-width: 90vw;
    margin: 0 auto 2em;
  }
  .wide--list {
    max-width: 90vw;
  }

  .resume--container,
  .home--container {
    max-width: 90vw;
    margin: 0 auto 2rem;
    padding: 0;
  }
  footer {
    padding: 1em 0;
    width: 90vw;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  html,
  body {
    margin: 0 auto;
  }
  .project--detail--container {
    max-width: 80vw;
  }
  footer {
    padding: 1em 0;
    width: 80vw;
    margin: 0 auto;
  }
  .project--list {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
  nav {
    display: flex;
    flex-direction: row;
    height: 5vh;
    align-items: center;
    /* width: 90vw; */
    width: 80vw;
    margin: 1em auto;

    justify-content: right;
  }
  .project--detail--info > p {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .resume--header,
  .resume--main--container {
    display: flex;
    text-align: left;
    align-items: center;
  }

  .resume--footer {
    display: flex;
    align-items: center;
  }
  .resume--footer > button {
    margin-top: 0;
  }
  .project--detail {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    align-items: start;
    margin-bottom: 2em;
  }

  .project--detail--info {
    margin: 0 0 0 1.5em;
    font-size: 0.8em;
  }

  .project--detail--info > p {
    padding-top: 0;
  }

  .project--detail--img {
    max-width: 70%;
    max-height: 65vh;
  }

  .contact {
    max-width: 100%;

    align-self: center;
    margin-bottom: 1em;
    margin-right: 1em;
  }
  .navbar--container > a {
    font-weight: 600;
    font-size: 1em;
  }
  .navbar-lang {
    display: flex;
  }

  /* 
  .home--container {
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: normal;
  } */
  .home--hero {
    padding: 1em;
    grid-column: span 2;
    height: max-content;
    font-size: 1.2rem;
    /* width: 90%; */
  }
  .home--hero > p {
    font-size: 1.2em;
  }

  .home--hero > h1 {
    font-size: 2.3em;
  }
  .project--list--featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
  }
  .home--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 80vw;
  }
  .project--list--container {
    grid-column: span 3;
    /* margin: 1em; */
    padding: 1em 2em;
    /* max-width: 90%;
      margin: 0 auto 2em; */
    /* height: 100%; */
    margin: 0 auto 2em;
  }
  .wide--list {
    max-width: 80vw;
    margin: 0 auto 2em;
  }
  /* .recent--project {
    max-width: 90%;
    margin: 0 auto 2em;
  } */
  .featured {
    font-size: 1.2rem;
  }
  .resume--container,
  .home--container {
    max-width: 80vw;
    margin: 0 auto 2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade--in {
  animation: fadeIn 0.8s ease-in-out;
}
